
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div data-bind="foreach: reports">
    @Html.Partial("~/Views/Report/ReportPartial.cshtml")
</div>
@*<div data-bind="selected">
    @Html.Partial("~/Views/Report/EditReport.cshtml")
</div>*@


@Scripts.Render("~/bundles/index")
@Scripts.Render("~/bundles/reportPartial")

