    <div class="well well-sm">
        <fieldset>
            <legend data-bind="text: date"></legend>

            <!-- ko if: "status" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Status</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: status" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "flow" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Fluxo</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: flow" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "application" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Aplicação</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: application" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "impact" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Impacto</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: impact" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "workaround" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Solução paliativa</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: workaround" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "solutionTime" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Tempo da solução</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: solutionTime" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "workaroundTime" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Tempo na madrugada</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: workaroundTime" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "reporter" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Incomodado</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: reporter" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "solution" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Solução definitiva</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: solution" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "description" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Problema</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: description" readonly>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: "responsibleTeam" in $data -->
            <div class="form-group">
                <label class="col-lg-2 control-label">Time responsável</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: responsibleTeam" readonly>
                </div>
            </div>
            <!-- /ko -->
        </fieldset>
    </div>
