    <div class="well well-sm">
        <fieldset>
            <legend data-bind="text: 'Report '+ id"></legend>

            <div class="form-group">
                <label class="col-lg-2 control-label">Data</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: date" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Status</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: status" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Fluxo</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: flow" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Aplicação</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: application" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Impacto</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: impact" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Solução paliativa</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: workaround" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Tempo da solução</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: solutionTime" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Tempo na madrugada</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: workaroundTime" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Incomodado</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: reporter" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Solução definitiva</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: solution" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Problema</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: description" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Time responsável</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" data-bind="value: responsibleTeam" readonly>
                </div>
            </div>

        </fieldset>
    </div>
