<!-- ko if: mode() == "view" -->
<div class="col-md-8 col-md-offset-2">
    <div class="report">
        <div class="report-header">
            <div class="report-date"">
                <div class="report-date-element"><span style="font-size: large"   data-bind="text: moment(date()).format('DD/MM/YYYY')" ></span></div>
                <div class="report-date-element"><span style="font-size: medium"  data-bind="text: moment(date()).format('HH:mm')"></span></div>
            </div>
            <div class="report-title" data-bind="css: { 'report-awaiting': status() == 0, 'report-alerted': status() == 1,'report-resolved': status() == 2, }">
                <span style="font-size: xx-large" data-bind="text: flow"></span>
            </div>
        </div>
        <div class="report-content">
            <!-- ko if: status() != null -->
            <div class="report-header">
               <span class="report-cell-left"><strong>Estado:</strong></span>
               <span class="report-cell-right" data-bind="text: statusText()"></span>
            </div>
            <!-- /ko -->

            <!-- ko if: application() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Aplicação:</strong></span>
                <span class="report-cell-right" data-bind="text: application"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: impact() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Impacto:</strong></span>
                <span class="report-cell-right" data-bind="text: impact"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: workaround() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Solução paliativa:</strong></span>
                <span class="report-cell-right" data-bind="text: workaround"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: workaroundTime() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Tempo na madrugada:</strong></span>
                <span class="report-cell-right" data-bind="text: workaroundTime"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: reporter() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Incomodado:</strong></span>
                <span class="report-cell-right" data-bind="text: reporter"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: solution() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Solução:</strong></span>
                <span class="report-cell-right" data-bind="text: solution"></span>
            </div>
            <!-- /ko 
            <!-- ko if: solutionTime() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Tempo da solução:</strong></span>
                <span class="report-cell-right" data-bind="text: solutionTime"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: description() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Problema:</strong></span>
                <span class="report-cell-right" data-bind="text: description"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: responsibleTeam() != null -->
            <div class="report-header">
                <span class="report-cell-left"><strong>Time responsável:</strong></span>
                <span class="report-cell-right" data-bind="text: responsibleTeam"></span>
            </div>
            <!-- /ko -->
        </div>
        <div class="report-header">
            <div class="report-footer">
                <button class="btn btn-default" data-bind="click: function() { ReportPartial.setEditMode($data); ReportPartial.makeCopy($data)}">Editar <span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-default" data-bind="click: function() { Index.setCopyMode($data)}">Copiar <span class="glyphicon glyphicon-copy"></span></button>
                <button class="btn btn-default" data-bind="click: function() { ReportPartial.setViewMode($data); ReportPartial.deleteReport($data)}">Apagar <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: (mode() == "edit" || mode () == "create") -->
<div class="col-md-8 col-md-offset-2">
    <div class="report">
        <div class="report-header">
            <div class="report-date">
                <div class="report-date-element"><input data-bind='dateTimePicker: date' /></div>

            </div>
            <div class="report-title" data-bind="css: { 'report-awaiting': status() == 0, 'report-alerted': status() == 1,'report-resolved': status() == 2, }">
                <input contentEditable="true" class="editable-element" style="font-size: xx-large" data-bind="value: flow">
            </div>
        </div>
        <div class="report-content">
            <div class="report-header">
                <span class="report-cell-left"><strong>Estado:</strong></span>
                <div>
                    <select id="status" data-bind="options: $parent.statusOptions, optionsText: 'value', optionsValue: 'id', value: status"></select>
                </div>
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Aplicação:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: application" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Impacto:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: impact" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Solução paliativa:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: workaround" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Tempo na madrugada:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: workaroundTime" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Incomodado:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: reporter" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Solução:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: solution" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Tempo da solução:</strong></span>
                <input contentEditable="true" class="report-cell-right editable-element" data-bind="value: solutionTime" />
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Problema:</strong></span>
                <textarea contentEditable="true" class="report-cell-right  editable-element" data-bind="value: description"></textarea>
            </div>
            <div class="report-header">
                <span class="report-cell-left"><strong>Time responsável:</strong></span>
                <input contentEditable="true" class="report-cell-right  editable-element" data-bind="value: responsibleTeam" />
            </div>
        </div>
        <div class="report-header">
            <div class="report-footer">
                <!-- ko if: mode() == "edit" -->
                    <button class="btn btn-success" data-bind="visible: mode() == 'edit', click: function() { ReportPartial.updateReport($data); }">Atualizar <span class="glyphicon glyphicon-ok-sign"></span></button>
                    <button class="btn btn-danger"  data-bind="click: function() {ReportPartial.setViewMode($data); ReportPartial.restore($data)}">Retornar <span class="glyphicon glyphicon-remove-sign"></span></button>
                <!-- /ko -->
                <!-- ko if: mode() == "create" -->
                    <button class="btn btn-success" data-bind="visible: mode() == 'create', click: function() { ReportPartial.createReport($data); }">Criar <span class="glyphicon glyphicon-check"></span></button>
                    <button class="btn btn-danger" data-bind="click: function() { Index.setCreateMode(false);}">Cancelar <span class="glyphicon glyphicon-remove-sign"></span></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->